@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@400;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header for every page */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004175;
  color: white;
  font-family: 'Oswald';
  padding: 2%;
  border-bottom: 1px #89DEEF;
}

.nav-item {
  display: inline;
  padding-right: 5px;
  
}

a {
  font-family: 'Open Sans';
  color: white;
  text-decoration: none;
}

.img-header {
  width: 100%;
}

/* Body of Home Page */
.about-us {
  font-family: 'Open Sans';
  width: 65%;
  margin: 1em auto;
  padding-top: .5em;
  padding-bottom: .5em;
}

/*Body of Adopt page */

h2 {
  margin: 1ex;
}

p {
  margin: 1ex;
}

.dog-list { /*dog flex container*/
  display: flex;
  flex-wrap: wrap; 
}

.dog { /*dog flex items*/
  font-family: 'Open Sans';
  border-style: solid;
  border-radius: 5px;
  border-color: lightgrey;
  border-width: 2px;
  padding: 1ex;
  margin: 1ex;
}

.dog-name {
  font-family: 'Oswald';
  padding-bottom: 15px;
}

.dog-traits-list { /*Traits flex container*/
  display: flex;
  flex-flow: row wrap;
  width: 31vh;
  justify-content: flex-start;
  align-content: flex-start;
}

.dog-traits-item {  /*dog flex items*/
  display: inline;
  background: #89DEEF;
  border-style: solid;
  border-color: #89DEEF;
  border-width: 5px;
  border-radius: 1em;
  margin: 5px;
}

/* Body of Contact Us Page */

h3 {
  margin-left: 4%;
  margin-top: 4%;
  margin-bottom: 2%;
}

/* Footer for every page */

footer {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: auto;
  height: 30vh;
}

.footer-donate {
  display: inline;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  background: linear-gradient(#3b41ee73, #3b41ee73), url(/images/donate.jpg);
  background-size: cover;
  background-position: center;
}

.footer-donate:hover {
  background: linear-gradient(#3b41ee00, #3b41ee00), url(/images/donate.jpg);
  background-size: cover;
  background-position: center;
}

.footer-volunteer {
  display: inline;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  background: linear-gradient(#3b41ee73, #3b41ee73), url(/images/volunteer.jpg);
  background-size: cover;
  background-position: center;
}

.footer-volunteer:hover {
  background: linear-gradient(#3b41ee00, #3b41ee00), url(/images/volunteer.jpg);
  background-size: cover;
  background-position: center;
}


.footer-location {
  display: inline;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  background: linear-gradient(#3b41ee73, #3b41ee73), url(/images/location.png);
  background-size: cover;
  background-position: center;

}

.footer-location:hover {
  background: linear-gradient(#3b41ee00, #3b41ee00), url(/images/location.png);
  background-size: cover;
  background-position: center;
}

.footer-text {
  font-family: 'Oswald';
  font-size: 3em;
  color: white;

}

/* LEARNED HOW TO BRANCH OFF MAIN! WOOT! */